/*-----------------------------------*\
  #main.css
\*-----------------------------------*/




/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root{

  /**
    * COLORS
  */
  --selective-yellow: #ffbc1f;
  --roman-silver: #7b7b8a;
  --roman-silver_10: #7b7b8a1a;
  --light-coral: #ff8086;
  --oxford-blue: #0c1327;
  --light-gray: #cccccc;
  --keppei: #30c0af;
  --white: #ffffff;
  --black: #000000;
  --black_10: #0000001a;

  /**
    * TYPOGRAPHY
  */  

  --ff-gilroy: "Gilroy", sans-serif;

  /* head line */
  --headline-lg: 4.8rem;
  --headline-md: 3rem;
  --headline-sm: 2.4rem;


  --title-lg: 2.2rem;
  --title-md: 2rem;
  --title-sm: 1.8rem;
  
  /* font weight */
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  
  /**
    * SPACING
  */  
  --section-padding: 56px;

  /**
    * BOXSHADOW
  */  

  --shadow-1: 0px 35px 65px -10px #0000000d;
  --shadow-2: 0 10px 40px #0000000f;


}




/*-----------------------------------*\
  #RESET
\*-----------------------------------*/





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/





/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/





/*-----------------------------------*\
  #CATEGORY
\*-----------------------------------*/





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/





/*-----------------------------------*\
  #COURSE
\*-----------------------------------*/





/*-----------------------------------*\
  #CTA
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
  #CONTAINER QUERIES
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/